@charset "UTF-8";
div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url('../imagens/radio-tv.png');
}

audio#musica {
    display: block;
    position: relative;
    top: 510px;
    left: 570px;
    width: 300px;
    height: 30px;
    
}

video#filme {
    display: block;
    position: relative;
    top: 80px;
    left: 82px;
    width: 450px;
}